*{
    margin: 0;
    padding: 0;
}
.container0{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)), url(photo/background.jpg);
    background-position: center;
    background-size: cover;
}
.container1{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex-wrap: wrap;
}
.logo-div{
    margin: 0;
    padding: 0;
}
.container2{
    height: 20vh;
    display: flex;
    justify-content: center;
}
.smaller-cont{
    margin-top: 20px;
}
.search-bar{
    width: 100%;
    max-width: 700px;
    background: transparent;
    display: flex;
    align-items: center;
}
.container3{
    display: flex;
    justify-content: center;
}
.container4{
    height: 30vh;
}
.k1{
    height: 10vh;
    color: white;
}
p{
    margin-top: 50%;
}
p{
    color: white;
}